.outer
{
    border: 1px solid black;
    height: 700px;
    width: 700px;
    background-image: url("./imagesp/coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.inner
{
    height: 500px;
    width: 300px;
    background-color: rgba(42, 44, 44, 0.185);
    padding: 40px;
    margin: auto;

}
.line1
{
    
    padding-left: 50px;
}
#one
{
    /* border: 1px solid black; */
    border: none;
    border: 1px solid black;
    width: 250px;
    height: 30px;

}
.button
{
    height: 35px;
    width: 160px;
    background-color: rgb(29, 131, 214);
    padding-left: 100px;
     padding-top: 10px;
    
}
.line3
{
    padding-left: 80px;
}
.box{
 display:flex; 
 

    
}
 #line4
{
    height: 35px;
    width: 95px;
    background-color:rgba(214, 27, 27, 0.603);
    margin: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
#line5
{
    height: 35px;
    width: 95px;
    background-color:blue;
    margin: 10px;
    padding-left: 20px;
    padding-top: 10px;

} 